[user]
	name = Ernie
	email = ernestipark@gmail.com
[github]
	user = eipark
	token = 70ed4ef5e08c6d9d00799bfb12c46774
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[alias]
  co = checkout
  ci = commit -am
	st = status
